<nav class="navbar navbar-light" style="color: #99ff99; background-color: #031321; position: fixed; width: 100%; height: 80px;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0"><h4 class="text-navbar-neon neon-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pc-display" viewBox="0 0 16 16">
                <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z"/>
            </svg>
            Equipment allocation system</h4></span>
        <div>
            <label style="text-shadow: 0px 0px 10px #99ff99, 0 0 20px #99ff99, 0 0 80px #99ff99;"><b>hello,</b></label>
            <label style="text-shadow: 0px 0px 10px #8cf8f1, 0 0 20px #8cf8f1, 0 0 80px #8cf8f1; color: #b3f0ff;"><b><%= showname %></b></label>
            <label style="text-shadow: 0px 0px 10px #99ff99, 0 0 20px #99ff99, 0 0 80px #99ff99;"><b>!</b></label>
            <a href="/logout" style="color: red; margin: 0 20px 0 20px;"><b>ออกจากระบบ</b></a>
        </div>
    </div>
</nav>